<!DOCTYPE html>
<html>
  <head>
    <title>account</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<form action='/account' method='post'>
	    项目<input type='text' name='name'><br>
	    金额<input type='number' name='price'><br>
	    日期<input type='date' name='time'><br>
	    <button>submit</button>
	</form>
  </body>
</html>
